* {
    box-sizing: content-box;
  }

  body,
  html {
    margin: 0;
    padding: 0;
  }

  :root {
    --color-primario:linear-gradient(to right, #1fefec 0%, #008fd6 100%);
    --color-secundario:#002B5B;
    --color-terciario:#77E4C8;
    --color-cuaternario:#1A5F7A;
    --color-hover-1:#088395;
    --color-hover-2:#00FFCA;
    --fondo-del-encriptador:#ffff;
    --fuente-arial: arial,sans-serif;
  }

  body {
      box-sizing: border-box;
      font-family: var(--fuente-arial);
      font-weight: 400;
      font-size: 32px;
      display: grid;
      line-height: 150%;
      background-image:var(--color-primario);
      opacity: 1;
      color:var(--color-secundario);
  }

  .imagen-alura{
    padding-top: 20px;
    margin-left: 40px;
    width: 4%;
    border-radius:5px;
  }

  .main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
  }

  .area-texto{
    border:none;
    background: none;
    color:var(--color-secundario);
    margin-top: 90px;
    text-transform: lowercase;
  }

::placeholder { color:var(--color-secundario);}
  .area-texto:focus {
    outline: none;
  }

  .texto-info{
    color:var(--color-secundario);
    font-size: 8px;
    font-family: var(--fuente-arial);
  }

  .texto-interior{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icono{

  }

  .advertencia{
    font-family: var(--fuente-arial);
    font-size: 12px;
  }

  .sector-botones{
    display:flex;
    margin-top: 18px;
    space:space-between;
    gap:25px;
  }

  .boton-encriptar{
    width: 180px;
    padding: 8px 8px;
    text-align: center;
    background-color:var(--color-cuaternario);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px; /
    font-weight: 600;
    font-family:var(--fuente-arial);
    color:var(--color-terciario);
    text-decoration:none;
    justify-content: center;
    border: 3px solid var(--color-secundario);
  }

  .boton-encriptar:hover{
    cursor:pointer;
    background-color: var(--color-hover-1);
  }

  .boton-descriptar{
    width: 180px;
    padding: 8px 8px;
    text-align: center;
    background-color:var(--color-terciario);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px; /
    font-weight: 600;
    font-family:var(--fuente-arial);
    color:var(--color-secundario);
    text-decoration:none;
    justify-content: center;
    border: 3px solid var(--color-secundario);
  }

  .boton-descriptar:hover{
    cursor:pointer;
    background-color: var(--color-hover-2);
  }

  .mensaje{
    background: var(--fondo-del-encriptador);
    background-image: url("Encriptador.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color:var(--color-secundario);
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position:fixed;
  }

  .mensaje:focus {
    outline: none;
  }

  .bott-copiar{
    border-radius: 20px;
    border: 3px solid var(--color-secundario);
    padding: 8px 8px;
    text-align: center;
    background-color:var(--color-terciario);
    cursor: pointer;
    font-size: 16px; /
    font-weight: 600;
    font-family:var(--fuente-arial);
    color:var(--color-secundario);
    text-decoration:none;
    justify-content: center;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 180px;
  }

  .bott-copiar:hover{
    cursor:pointer;
    background-color: var(--color-hover-2);
  }

  .pie-pagina > p {
    background: var(--color-primario);
    color:var(--color-secundario);
    margin-bottom: 0;
    padding: 3px;
    text-align: center;
    font-size: 15px;
    font-family:var(--fuente-arial);
  }