* {
    box-sizing: content-box;
  }

  body,
  html {
    margin: 0;
    padding: 0;
  }

  :root {
    --color-primario:linear-gradient(to right, #1fefec 0%, #008fd6 100%);
    --color-secundario:#002B5B;
    --color-terciario:#36C2CE;
    --color-cuaternario:#159895;
    --color-encriptador:#A3DFE0;
    --fuente-arial: arial,sans-serif;
  }

  body {
      font-family:  Arial, Garamond, sans-serif;
      display: grid;
      background-image:var(--color-primario);
      opacity: 1;
      color:var(--color-secundario);
      box-sizing: border-box;
      min-height: 100 vh
  }

  .seccion-alura{
    width:100%;
    height:100%;
    max-width: 1440px;
    margin:auto;
  }

  .contenedor-alura{
   margin: 40px 80px;
   width:100%;
   height:100%;
   display: flex;
   justify-content: left;
  }

  .imagen-alura{
    border-radius: 5px;
  }

  .caja-contenido{
   width: 100%;
   height: 100%;
   max-width: 1440 px;
   margin:auto;
  }
  .contenido-encriptar{
    margin: 0 40 px;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;;
  }
  .formulario-encriptador{
    flex-basis: calc(65% - 80px);
  }

  .texto-interior{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .area-texto{

  }

  .texto-info{

  }

  .info{

  }

  .icono{

  }

  .advertencia{

  }


  .sector-botones{
    display:flex;
    flex-direction: row;
    space:space-between;
    gap:15px;
  }

  .boton-encriptar-descriptar{
    width: 120px;
    padding: 8px 8px;
    text-align: center;
    background-color:var(--color-terciario);
    border-radius: 20px;
    font-size: 16px; /
    font-weight: 600px;
    font-family:var(--fuente-arial);
    color:var(--color-secundario);
    text-decoration:none;
    display:flex;
    justify-content: center;
    border: 3px solid var(--color-secundario);
    gap: 15px;
  }

  .boton-encriptar-descriptar:hover{
    cursor:pointer;
    background-color: var(--color-cuaternario);
  }

  .pie-pagina > p {
    background: var(--color-primario);
    color:var(--color-secundario);
    margin: 0 0 0;
    padding: 35px;
    text-align: center;
    font-family:var(--fuente-arial);
  }