* {
    box-sizing: content-box;
  }

  body,
  html {
    margin: 0;
    padding: 0;
  }

  :root {
    --color-primario:#7fffd4;
    --color-secundario: #00008b;
    --color-terciario:#00ffff;
    --fuente-arial: arial,sans-serif;
  }

  body {
      font-family:  Arial, Garamond, sans-serif;
      display: grid;
      background-color:var(--color-primario);
      opacity: 1;
      color:var(--color-secundario);
      box-sizing: border-box;
      min-height: 100 vh
  }

  .header{
    padding: 2% 0% 0% 15%;
  }

  .contenedor-alura{
    width:100%;
    height:100%;
    max-width: 1440px;
    margin:auto;
  }

  .caja-texto{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sector-botones{
    display:flex;
    flex-direction: row;
    space:space-between;
    gap:15px;
  }

  .boton-encriptar-descriptar{
    width: 120px;
    padding: 8px 8px;
    text-align: center;
    background-color:var(--color-terciario);
    border-radius: 20px;
    font-size: 16px; /
    font-weight: 600px; 
    font-family:var(--fuente-arial); 
    color:var(--color-secundario);
    text-decoration:none;
    display:flex;
    justify-content: center;
    border: 3px solid var(--color-secundario);
    gap: 15px;
  }

  .boton-encriptar-descriptar:hover{
    cursor:pointer;
    background-color: #9575cd;
  }

  .pie-pagina > p {
    background: var(--color-primario);
    color:var(--color-secundario);
    bottom: 0;
    padding: 38px;
    text-align: center;
    font-family:var(--fuente-arial);
  }